@model comestic.Models.Products

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Products</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slug" class="control-label"></label>
                <input asp-for="Slug" class="form-control" />
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Summary" class="control-label"></label>
                <input asp-for="Summary" class="form-control" />
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo1" class="control-label"></label>
                <input asp-for="Photo1" class="form-control" />
                <span asp-validation-for="Photo1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo2" class="control-label"></label>
                <input asp-for="Photo2" class="form-control" />
                <span asp-validation-for="Photo2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo3" class="control-label"></label>
                <input asp-for="Photo3" class="form-control" />
                <span asp-validation-for="Photo3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo4" class="control-label"></label>
                <input asp-for="Photo4" class="form-control" />
                <span asp-validation-for="Photo4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatId" class="control-label"></label>
                <select asp-for="CatId" class ="form-control" asp-items="ViewBag.CatId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ChildCatId" class="control-label"></label>
                <select asp-for="ChildCatId" class ="form-control" asp-items="ViewBag.ChildCatId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Created_at" class="control-label"></label>
                <input asp-for="Created_at" class="form-control" />
                <span asp-validation-for="Created_at" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Updated_at" class="control-label"></label>
                <input asp-for="Updated_at" class="form-control" />
                <span asp-validation-for="Updated_at" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
